MINMAX_BUILD_SHA=<git-head-sha>
MINMAX_ALLOWED_SENDER=<supplier-email>
MINMAX_SUBJECT_PATTERN=<stable-subject-marker>
MINMAX_IMAP_USER=<intake-mailbox>
MINMAX_IMAP_PASSWORD=<yandex-app-password>
MINMAX_SMTP_USER=<notification-mailbox>
MINMAX_SMTP_PASSWORD=<yandex-app-password>
MINMAX_SMTP_FROM=<notification-from-email>
MINMAX_NOTIFY_EMAIL=<owner-email>
MINMAX_PURCHASING_API_BASE_URL=http://host.docker.internal:3210
PURCHASING_API_TOKEN=<backend-api-token>
MINMAX_OWNER_UI_BASE_URL=http://<SERVER-IP>:3210
